.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  background-color: green;
  color: white;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid red;
  padding: 5px 10px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: lightgray;
  color: black;
  text-align: center;
}

.card {
  padding: 0px 0px;
  font-size: 16px;
  font-weight: bold;
}
.row{
  padding: 20px;
}
.row_game{
  padding: 20px;
}
.col_top{
  text: center;
  height: 50px;
}
.btn_game{
  text-align: center;
  position: relative;
  display: inline;
  --bs-success: #20da84;
  --bs-success-rgb: 32,218,132;
  padding: 6px;
  margin: 5px;
  width: 75px;
}